input[type='checkbox'] {
  position: relative;
  width: 55px;
  height: 31px;
  -webkit-appearance: none;
  background-color: #c6c6cc;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgb(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type='checkbox'] {
  background: #58af66;
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type='checkbox']:before {
  left: 25px;
}
